

@media only screen and (min-width : 1px) and (max-width: 357px) {
    .bajo10{
        font-size: 8px;
         padding: 1px;
         margin-left: 1px;
         
          width: 5%;
         
    }
   
}

@media only screen and (min-width : 358px) and (max-width: 700px) {
    .bajo10{
        font-size: 13px;
         padding: 20px;
         margin-left: 1px;
          width: 45%;
    }
   
}
@media only screen and (min-width : 701px) and (max-width: 1080px) {
    .bajo10{
        font-size: 17px;
         padding: 20px;
         margin-left: 10px;
          width: 70%;
         
    }
   
}






@media only screen and (min-width : 1px) and (max-width: 357px) {
    .bajo3{
        font-size: 8px;
         padding: 1px;
         margin-left: 1px;
         
          width: 5%;
         
    }
   
}

@media only screen and (min-width : 358px) and (max-width: 700px) {
    .bajo3{
        font-size: 13px;
         padding: 20px;
         margin-left: 1px;
          width: 45%;
    }
   
}
@media only screen and (min-width : 701px) and (max-width: 1080px) {
    .bajo3{
        font-size: 17px;
         padding: 20px;
         margin-left: 10px;
          width: 70%;
         
    }
   
}








@media only screen and (min-width : 1px) and (max-width: 357px) {
    .bajo2{
        font-size: 8px;
         padding: 1px;
         margin-left: 1px;
         
          width: 5%;
         
    }
   
}

@media only screen and (min-width : 358px) and (max-width: 700px) {
    .bajo2{
        font-size: 13px;
         padding: 20px;
         margin-left: 1px;
          width: 45%;
    }
   
}
@media only screen and (min-width : 701px) and (max-width: 1080px) {
    .bajo2{
        font-size: 17px;
         padding: 20px;
         margin-left: 10px;
          width: 70%;
         
    }
   
}










@media only screen and (min-width : 1px) and (max-width: 357px) {
    .bajo7{
        font-size:11px;
         padding: 1px;
         margin-left: -60px;
         
       
         
    }
   
}

@media only screen and (min-width : 358px) and (max-width: 700px) {
    .bajo7{
        font-size: 13px;
         padding: 20px;
         margin-left: 0.5px;
          width: 20%;
    }
   
}
@media only screen and (min-width : 701px) and (max-width: 1080px) {
    .bajo7{
        font-size: 17px;
         padding: 20px;
         margin-left: 10px;
          width: 70%;
         
    }
   }



   
   
   
   
   
   
   @media only screen and (min-width : 1px) and (max-width: 357px) {
    .bajo15{
        font-size: 8px;
         padding: 1px;
         margin-left: 1px;
         
          width: 5%;
         
    }
   
}

@media only screen and (min-width : 358px) and (max-width: 700px) {
    .bajo15{
        font-size: 13px;
         padding: 20px;
         margin-left: 0.5px;
          width: 20%;
    }
   
}
@media only screen and (min-width : 701px) and (max-width: 1080px) {
    .bajo15{
        font-size: 17px;
         padding: 20px;
         margin-left: 10px;
          width: 70%;
         
    }
   }

